<%= render "layouts/header" %>

<div class='main'>
<%# 画面上部の帯部分%>
<div class='title-contents'>
  <h2 class='service-title'>
    Collection of Record Junkies
  </h2>
  <p class='service-explain'>
    お持ちのレーコードを管理できる
  </p>
  <p class='service-explain'>
    他のユーザーのcollectionを閲覧・購入できる
  </p>
  <p class='service-explain'>
    自分のまだ知らない音楽に出会える
  </p>
  <p class='service-explain'>
    あなたもレコード管理初めてみませんか？
  </p>
</div>
<%# /画面上部の帯部分%>
</div>

<%= render "layouts/footer" %>