.collection-img-content {
  position: relative;
}

.collection-img {
  height: 45vh;
}

.collection-info {
  background-color: #FFF;
  color: black;
  margin-bottom: 8vh;
}

.music-status {
  font-size: 5px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}