* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crj-icon {
  width: 15vw;
}

.user_nav span {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.user_nav span:before {
  content: '▼';
  font-size: .7em;
  margin-right: 10px;
}

.user__info {
  display: none;
  width: 170px;
  height: 127px;
  background: black;
  position: absolute;
  top: 75px;
  border: 1px solid white;
  text-align: center;
}

.user__info li{
  border-bottom: 1px solid white;
}

.user__info li:last-child{
  border-bottom: none;
}

.my-page {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.post{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.my-wants {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 6px 0 1px;
}

.logout {
  text-decoration: none;
  color: white;
  font-size: 15px;
}


.login {
  text-decoration: none;
  margin-right: 1vw;
  color: white;
}

.sign-up{
  text-decoration: none;
  color: white;
}

/* スマホ横表示時 */
@media (max-width: 896px){
  .top-page-header {
    padding: 2vh 7vw;
  }
  .user__info {
    width: 130px;
    height: 120px;
    position: absolute;
    top: 60px;
    right: 15px;
  }
  .user__info a {
    font-size: 13px;
  }
  .user__info p {
    font-size: 13px;
  }
}

/* スマホ縦表示時 */
@media (max-width: 480px){
  .top-page-header {
    padding: 1.5vh 13vw;
  }
  .user_nav span {
    font-size: 12px;
  }
  .user__info {
    width: 100px;
    height: 84px;
    position: absolute;
    top: 40px;
    right: 15px;
  }
  .user__info a {
    font-size: 5px;
  }
  .user__info p {
    font-size: 5px;
  }
}