/* ユーザーのcollection情報 */
.my-collection-contents {
  width: 100%;
  display: flex;
  padding-left: 150px;
  margin-top: 25px;
}

.my-collection-nickname {
  font-size: 18px;
  font-weight: bold;
  width: 30%;
  margin-right: 40px;
}

.my-collection-lists {
  display: flex;
}

.my-collection-detail-contents {
  width: 250px;
  margin-right: 10px;
}

.my-collection-detail-count-text {
  text-align: right;
}

.my-collection-detail-count {
  width: 40px;
  margin-right: 10px;
}


