/* ユーザーのcollection情報 */
.my-collection-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  margin-top: 25px;
}

.my-collection-nickname {
  font-size: 18px;
  font-weight: bold;
}

.my-collection-lists {
  margin-right: 450px;
}

.my-collection-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.count-result {
  font-weight: bold;
  color: #ea352d;
  margin-left: 20px;
}

.count-sold-out-result {
  font-weight: bold;
  color: #ea352d;
  margin-left: 30px;
}

.count-total-result {
  font-weight: bold;
  color: #ea352d;
  margin-left: 90px;
}

.check-btn {
  margin-left: 5px;
}

.check-btn:focus {
  outline: solid 2px black;
  border-radius: 4px;
}

/* /ユーザーのcollection情報 */

.my-collection-title {
  background-color: black;
  color: white;
  padding: 5px 6px;
  border-radius: 4px;
}