<%= render "layouts/header" %>

<div class="result-contents">
  <div class="result-text">
    <p><%= @nickname %>さんの want <i class="fas fa-record-vinyl" style="color:black;"></i> 一覧</p>
  </div>
</div>

<div class='collection-contents'>
<ul class='collection-lists'>
  <% if @collections[0] != nil %>
    
    <%= render "layouts/display" %>

  <% else %>
    <div class="collection-empty">
      <span>現在、want <i class="fas fa-record-vinyl" style="color:black;"></i> はありません。</span>
    </div>
  <% end %>

</ul>
</div>

<%= render "layouts/footer" %>